
$cell-size: 40px;
$cell-hover-color: rgb(252, 219, 158);

.calendar-wrapper {
  width: 7*$cell-size;
}

.calendar-dropdown {
  border: 1px solid lightgray;
}

.calendar-table th {
  font-weight: 500;
}

.calendar-table td {
  width: $cell-size;
  height: $cell-size;
  line-height: $cell-size;
  text-align: center;

  &:hover {
    background: $cell-hover-color;
  }
}

.calendar-day.today {
  background: lightskyblue;
  color: white;
}

.calendar-input {
  padding: 8px;
  font-size: 14px;
}

.calender-toolbar {
  display: flex;
  justify-content: space-around;
  margin: 10px 8px;
  span, button {
    font-size: 18px;
    font-weight: bold;
    border: none;
  }
  button {
    font-weight: 400;
  }
}
